<?xml
  version="1.0"
  encoding="utf-8"?>

<packages>
  <package
    id="JetBrains.Annotations"
    version="10.4.0"
    targetFramework="net462" />
  <package
    id="LiteDB"
    version="3.1.1"
    targetFramework="net462" />
  <package
    id="Scar.Common.DAL"
    version="1.0.2"
    targetFramework="net462" />
  <package
    id="Scar.Common.WPF.Localization"
    version="1.0.1"
    targetFramework="net462" />
  <package
    id="WpfLocalizeExtension"
    version="2.3.2"
    targetFramework="net462" />
  <package
    id="XAMLMarkupExtensions"
    version="1.2.2"
    targetFramework="net462" />
</packages>