<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package
        id="JetBrains.Annotations"
        version="11.1.0"
        targetFramework="net47" />
    <package
        id="Scar.Common"
        version="1.0.34"
        targetFramework="net47" />
    <package
        id="Scar.Common.WPF.Converters"
        version="1.0.7"
        targetFramework="net47" />
    <package
        id="Scar.Common.WPF.Localization"
        version="1.0.5"
        targetFramework="net47" />
    <package
        id="WPFLocalizeExtension"
        version="3.0.1"
        targetFramework="net47" />
    <package
        id="XAMLMarkupExtensions"
        version="1.2.2"
        targetFramework="net47" />
</packages>