<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Scar Ruleset" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1005" Action="Info" />
    <Rule Id="CA1011" Action="Warning" />
    <Rule Id="CA1020" Action="Info" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1305" Action="Warning" />
    <Rule Id="CA1501" Action="Info" />
    <Rule Id="CA1502" Action="Info" />
    <Rule Id="CA1505" Action="Info" />
    <Rule Id="CA1506" Action="Info" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1809" Action="Info" />
    <Rule Id="CA2007" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Warning" />
    <Rule Id="IDE0003" Action="Warning" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE0007" Action="Warning" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0011" Action="Warning" />
    <Rule Id="IDE0016" Action="Warning" />
    <Rule Id="IDE0017" Action="Warning" />
    <Rule Id="IDE0018" Action="Warning" />
    <Rule Id="IDE0019" Action="Warning" />
    <Rule Id="IDE0020" Action="Warning" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0028" Action="Warning" />
    <Rule Id="IDE0029" Action="Warning" />
    <Rule Id="IDE0030" Action="Warning" />
    <Rule Id="IDE0031" Action="Warning" />
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0035" Action="Warning" />
    <Rule Id="IDE0036" Action="Warning" />
    <Rule Id="IDE0037" Action="Warning" />
    <Rule Id="IDE0039" Action="Warning" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0042" Action="Warning" />
    <Rule Id="IDE0045" Action="Warning" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0048" Action="Warning" />
    <Rule Id="IDE0049" Action="Warning" />
    <Rule Id="IDE0050" Action="Warning" />
    <Rule Id="IDE0051" Action="Warning" />
    <Rule Id="IDE0052" Action="Warning" />
    <Rule Id="IDE0053" Action="Warning" />
    <Rule Id="IDE0054" Action="Warning" />
    <Rule Id="IDE0056" Action="Warning" />
    <Rule Id="IDE0057" Action="Warning" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0059" Action="Warning" />
    <Rule Id="IDE0060" Action="Warning" />
    <Rule Id="IDE0061" Action="None" />
    <Rule Id="IDE0062" Action="Warning" />
    <Rule Id="IDE0063" Action="Warning" />
    <Rule Id="IDE0064" Action="Warning" />
    <Rule Id="IDE0065" Action="Warning" />
    <Rule Id="IDE0066" Action="Warning" />
    <Rule Id="IDE1005" Action="Warning" />
    <Rule Id="IDE1006" Action="Warning" />
    <Rule Id="RE0001" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0044" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1501" Action="Info" />
    <Rule Id="CA1502" Action="Info" />
    <Rule Id="CA1505" Action="Info" />
    <Rule Id="CA1506" Action="Info" />
    <Rule Id="CA1509" Action="Warning" />
    <Rule Id="CA1708" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1725" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1003" Action="Warning" />
    <Rule Id="CA1019" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1308" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA2201" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1305" Action="Info" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SX1309S" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="WTG.Analyzers" RuleNamespace="WTG.Analyzers">
    <Rule Id="WTG1001" Action="Warning" />
    <Rule Id="WTG1002" Action="Warning" />
    <Rule Id="WTG1003" Action="Warning" />
    <Rule Id="WTG1004" Action="None" />
    <Rule Id="WTG1005" Action="Warning" />
    <Rule Id="WTG1006" Action="None" />
    <Rule Id="WTG1007" Action="None" />
    <Rule Id="WTG1008" Action="None" />
    <Rule Id="WTG1009" Action="Warning" />
    <Rule Id="WTG1010" Action="None" />
    <Rule Id="WTG1011" Action="Warning" />
    <Rule Id="WTG1012" Action="None" />
    <Rule Id="WTG1013" Action="None" />
    <Rule Id="WTG1014" Action="None" />
    <Rule Id="WTG1015" Action="None" />
    <Rule Id="WTG1016" Action="None" />
    <Rule Id="WTG1017" Action="None" />
    <Rule Id="WTG2001" Action="Warning" />
    <Rule Id="WTG3001" Action="Warning" />
    <Rule Id="WTG3002" Action="Warning" />
    <Rule Id="WTG3003" Action="None" />
    <Rule Id="WTG3004" Action="Warning" />
    <Rule Id="WTG3005" Action="Warning" />
    <Rule Id="WTG3006" Action="Warning" />
    <Rule Id="WTG3007" Action="Warning" />
    <Rule Id="WTG3008" Action="Warning" />
    <Rule Id="WTG3009" Action="Warning" />
    <Rule Id="WTG3010" Action="Warning" />
    <Rule Id="WTG3101" Action="Warning" />
    <Rule Id="WTG3102" Action="Warning" />
    <Rule Id="WTG3103" Action="Warning" />
  </Rules>
</RuleSet>