<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.2" targetFramework="net472" />
  <package id="Autofac.Extras.Moq" version="4.3.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Easy.MessageHub" version="4.0.1" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Moq" version="4.11.0" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="Scar.Common.Async" version="1.0.7072.17480" targetFramework="net472" />
  <package id="Scar.Common.DAL" version="1.0.7016.37668" targetFramework="net472" />
  <package id="Scar.Common.MVVM.Commands" version="1.0.7021.22562" targetFramework="net472" />
  <package id="Scar.Common.MVVM.ViewModel" version="1.0.7021.23060" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>