<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="MessageCloseTimeout" value="00:00:03" />
    <add key="AssessmentCardSuccessCloseTimeout" value="00:00:03" />
    <add key="AssessmentCardFailureCloseTimeout" value="00:00:10" />
    <add key="TranslationCardCloseTimeout" value="00:00:10" />
    <add key="DictionaryPageSize" value="15" />
  </appSettings>

</configuration>