<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net472" />
  <package id="Scar.Common" version="1.0.7016.37642" targetFramework="net472" />
  <package id="Scar.Common.DAL" version="1.0.7016.37668" targetFramework="net472" />
  <package id="Scar.Common.View.Contracts" version="1.0.7016.37709" targetFramework="net472" />
</packages>