<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net47" />
  <package id="Scar.Common" version="1.0.6890.23536" targetFramework="net47" />
  <package id="Scar.Common.DAL" version="1.0.6890.23552" targetFramework="net47" />
  <package id="Scar.Common.WPF.Localization" version="1.0.6719.22006" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.6719.21680" targetFramework="net47" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net47" />
  <package id="XAMLMarkupExtensions" version="1.6.0" targetFramework="net47" />
</packages>