<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MessageCloseTimeout" value="00:00:03" />
    <add key="AssessmentCardSuccessCloseTimeout" value="00:00:03" />
    <add key="AssessmentCardFailureCloseTimeout" value="00:00:10" />
    <add key="TranslationCardCloseTimeout" value="00:00:10" />
    <add key="DictionaryPageSize" value="15" />
  </appSettings>

</configuration>