<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="dir" value="${specialfolder:folder=LocalApplicationData}/Scar/Remembrance/Logs/" />
  <variable name="layout"
            value="${longdate} ${level:uppercase=true} [${threadid}] ${activityid} ${logger} ${message} ${exception:format=tostring}" />
  <targets>
    <target name="BusinessLogicFileLog" xsi:type="File" layout="${var:layout}" deleteOldFileOnStartup="false"
            concurrentWrites="true" keepFileOpen="false" fileName="${var:dir}BusinessLogic.log"
            archiveFileName="${var:dir}Archive/BusinessLogic{#}.log" archiveEvery="Day" archiveNumbering="Rolling"
            maxArchiveFiles="7" encoding="utf-8" />
    <!--10485760 Bytes = 10MB-->
    <target name="FullLog" xsi:type="File" layout="${var:layout}" deleteOldFileOnStartup="false"
            concurrentWrites="true" keepFileOpen="false" fileName="${var:dir}Full.log"
            archiveFileName="${var:dir}Archive/Full{#####}.log" archiveAboveSize="10485760" archiveNumbering="Sequence"
            maxArchiveFiles="10" encoding="utf-8" />

    <target xsi:type="Console" name="ConsoleLog" layout="${var:layout}" error="true" detectConsoleAvailable="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="BusinessLogicFileLog">
      <filters>
        <when condition="!(starts-with('${logger}','Remembrance'))" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Trace" writeTo="FullLog">
    </logger>
    <logger name="*" minlevel="Trace" writeTo="ConsoleLog">
    </logger>
  </rules>
</nlog>