<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net47" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net47" />
  <package id="LiteDB" version="4.1.1" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net47" />
  <package id="Scar.Common.DAL" version="1.0.6599.39492" targetFramework="net47" />
  <package id="Scar.Common.DAL.LiteDB" version="1.0.6599.39701" targetFramework="net47" />
</packages>