<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Easy.MessageHub" version="4.0.1" targetFramework="net472" />
  <package id="Fody" version="4.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Scar.Common" version="1.0.7016.37642" targetFramework="net472" />
  <package id="Scar.Common.Async" version="1.0.7016.37652" targetFramework="net472" />
  <package id="Scar.Common.DAL" version="1.0.7016.37668" targetFramework="net472" />
  <package id="Scar.Common.IO" version="1.0.7018.24639" targetFramework="net472" />
  <package id="Scar.Common.RateLimiter" version="1.0.7016.37702" targetFramework="net472" />
  <package id="Scar.Common.View.Contracts" version="1.0.7016.37709" targetFramework="net472" />
  <package id="Scar.Common.View.WindowFactory" version="1.0.7016.39154" targetFramework="net472" />
  <package id="Scar.Common.WPF.Commands" version="1.0.6753.27805" targetFramework="net472" />
  <package id="Scar.Common.WPF.Localization" version="1.0.6719.22006" targetFramework="net472" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.7016.37974" targetFramework="net472" />
  <package id="Scar.Common.WPF.ViewModel" version="1.0.7016.38534" targetFramework="net472" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net472" />
  <package id="XAMLMarkupExtensions" version="1.6.0" targetFramework="net472" />
</packages>