<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net47" />
  <package id="Easy.MessageHub" version="3.4.0" targetFramework="net47" />
  <package id="Fody" version="3.2.17" targetFramework="net47" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net47" developmentDependency="true" />
  <package id="Scar.Common" version="1.0.6811.31514" targetFramework="net47" />
  <package id="Scar.Common.Async" version="1.0.6719.22381" targetFramework="net47" />
  <package id="Scar.Common.DAL" version="1.0.6768.19463" targetFramework="net47" />
  <package id="Scar.Common.IO" version="1.0.6662.42670" targetFramework="net47" />
  <package id="Scar.Common.RateLimiter" version="1.0.6789.21362" targetFramework="net47" />
  <package id="Scar.Common.WPF.Commands" version="1.0.6753.27805" targetFramework="net47" />
  <package id="Scar.Common.WPF.Localization" version="1.0.6719.22006" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.6719.21680" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.WindowFactory" version="1.0.6812.20901" targetFramework="net47" />
  <package id="Scar.Common.WPF.ViewModel" version="1.0.6719.21806" targetFramework="net47" />
  <package id="WPFLocalizeExtension" version="3.3.0" targetFramework="net47" />
  <package id="XAMLMarkupExtensions" version="1.5.0" targetFramework="net47" />
</packages>