<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="8b965a9c-b3e9-48ce-9680-c9bd32254014" Name="Remembrance" Language="1033" Codepage="Windows-1252" Version="0.0.0.0" UpgradeCode="a235657a-58d6-4239-9428-9d0f8840a45b">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="Remembrance.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ProgramFilesFolder.Scar" Name="Scar">
          <Directory Id="INSTALLDIR" Name="Remembrance">

            <Component Id="Component.NLog.config_2185781715" Guid="8b965a9c-b3e9-48ce-9680-c9bd494600e6">
              <File Id="NLog.config_2185781715" Source="..\Build\NLog.config" />
            </Component>

            <Component Id="Component.Remembrance.exe_1553468483" Guid="8b965a9c-b3e9-48ce-9680-c9bd12342f05">
              <File Id="Remembrance.exe_1553468483" Source="..\Build\Remembrance.exe" />
            </Component>

            <Component Id="Component.Remembrance.exe.config_3431285376" Guid="8b965a9c-b3e9-48ce-9680-c9bd62cd7c6d">
              <File Id="Remembrance.exe.config_3431285376" Source="..\Build\Remembrance.exe.config" />
            </Component>

            <Component Id="Component.Remembrance.pdb_1149921833" Guid="8b965a9c-b3e9-48ce-9680-c9bd7d2b2080">
              <File Id="Remembrance.pdb_1149921833" Source="..\Build\Remembrance.pdb" />
            </Component>

            <Component Id="Component.Remembrance.Resources.dll_2399423351" Guid="8b965a9c-b3e9-48ce-9680-c9bda208b187">
              <File Id="Remembrance.Resources.dll_2399423351" Source="..\Build\Remembrance.Resources.dll" />
            </Component>

            <Component Id="Component.Remembrance.Resources.pdb_3908134801" Guid="8b965a9c-b3e9-48ce-9680-c9bd332ddd5e">
              <File Id="Remembrance.Resources.pdb_3908134801" Source="..\Build\Remembrance.Resources.pdb" />
            </Component>

            <Component Id="Component.Uninstall_Remembrance" Guid="8b965a9c-b3e9-48ce-9680-c9bd1affa087">
              <Shortcut Id="INSTALLDIR.Uninstall_Remembrance" WorkingDirectory="System64Folder" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall Remembrance.lnk" />

              <CreateFolder />
              <RemoveFolder Id="INSTALLDIR" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Directory Id="INSTALLDIR.ru_RU" Name="ru-RU">

              <Component Id="Component.Remembrance.Resources.resources.dll_434619980" Guid="8b965a9c-b3e9-48ce-9680-c9bd646044d6">
                <File Id="Remembrance.Resources.resources.dll_434619980" Source="..\Build\ru-RU\Remembrance.Resources.resources.dll" />
              </Component>

            </Directory>
          </Directory>

          <Component Id="ProgramFilesFolder.Scar" Guid="8b965a9c-b3e9-48ce-9680-c9bd89fb0363" KeyPath="yes">
            <RemoveFolder Id="ProgramFilesFolder.Scar" On="uninstall" />
          </Component>

        </Directory>

        <Component Id="Registry.1" Guid="8b965a9c-b3e9-48ce-9680-c9bd2f420e92" KeyPath="yes">
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run">
            <RegistryValue Id="RemembranceAutostart" Type="string" KeyPath="no" Value="[INSTALLDIR]Remembrance.exe" Name="Remembrance" />
          </RegistryKey>

          <CreateFolder />
          <RemoveFolder Id="ProgramFilesFolder" On="uninstall" />
        </Component>

      </Directory>

      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="ProgramMenuFolder.Remembrance" Name="Remembrance">

          <Component Id="Component.Uninstall_Remembrance.1" Guid="8b965a9c-b3e9-48ce-9680-c9bd68762eba">
            <Shortcut Id="ProgramMenuFolder.Remembrance.Uninstall_Remembrance.1" WorkingDirectory="System64Folder" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall Remembrance.lnk" />

            <CreateFolder />
            <RemoveFolder Id="ProgramMenuFolder.Remembrance" On="uninstall" />

            <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
              <RegistryValue Value="0" Type="string" KeyPath="yes" />
            </RegistryKey>
          </Component>

          <Component Id="Component.Remembrance__" Guid="8b965a9c-b3e9-48ce-9680-c9bdfa7d6bab">
            <Shortcut Id="ProgramMenuFolder.Remembrance.Remembrance__" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]Remembrance.exe" Name="Remembrance.lnk" />

            <CreateFolder />

            <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
              <RegistryValue Value="0" Type="string" KeyPath="yes" />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="Component.Remembrance.1" Guid="8b965a9c-b3e9-48ce-9680-c9bdbff577d1">
          <Shortcut Id="DesktopFolder.Remembrance.1" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]Remembrance.exe" Name="Remembrance.lnk" />

          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Component Id="TARGETDIR" Guid="8b965a9c-b3e9-48ce-9680-c9bda5f5b086" KeyPath="yes">
        <RemoveFolder Id="TARGETDIR" On="uninstall" />
      </Component>

    </Directory>

    <UI />

    <Icon Id="app_icon.ico" SourceFile="Icon.ico" />

    <UI>
      <EmbeddedUI Id="WixSharp_EmbeddedUI_Asm" SourceFile="WixSharp.UI.CA.dll" />
    </UI>

    <MajorUpgrade AllowSameVersionUpgrades="no" DowngradeErrorMessage="A later version of [ProductName] is already installed" Schedule="afterInstallInitialize" />

    <Upgrade Id="a235657a-58d6-4239-9428-9d0f8840a45b">
      <UpgradeVersion Minimum="0.0.0.0" Maximum="0.0.0.0" IncludeMinimum="yes" IncludeMaximum="yes" Property="UPGRADEFOUND" />
    </Upgrade>

    <CustomAction Id="OpenFolder" BinaryKey="OpenFolder_File" DllEntry="OpenFolder" Return="check" Execute="immediate" />
    <CustomAction Id="LaunchProcess" BinaryKey="OpenFolder_File" DllEntry="LaunchProcess" Return="check" Execute="immediate" />
    <CustomAction Id="Set_TerminateProcess_Props" Property="TerminateProcess" Value="CustomParam=Remembrance.exe;INSTALLDIR=[INSTALLDIR];UILevel=[UILevel];ProductCode=[ProductCode];ADDLOCAL=[ADDLOCAL];ADDFEATURES=[ADDFEATURES]" />
    <CustomAction Id="TerminateProcess" BinaryKey="OpenFolder_File" DllEntry="TerminateProcess" Return="check" Impersonate="no" Execute="deferred" />
    <CustomAction Id="Set_TerminateProcess.1_Props" Property="TerminateProcess.1" Value="CustomParam=Remembrance.exe;INSTALLDIR=[INSTALLDIR];UILevel=[UILevel];ProductCode=[ProductCode];ADDLOCAL=[ADDLOCAL];ADDFEATURES=[ADDFEATURES]" />
    <CustomAction Id="TerminateProcess.1" BinaryKey="OpenFolder_File" DllEntry="TerminateProcess" Return="check" Impersonate="no" Execute="deferred" />
    <CustomAction Id="WixSharp_InitRuntime_Action" BinaryKey="WixSharp_InitRuntime_Action_File" DllEntry="WixSharp_InitRuntime_Action" Return="check" Execute="immediate" />
    <CustomAction Id="Set_CancelRequestHandler_Props" Property="CancelRequestHandler" Value="UpgradeCode=[UpgradeCode];INSTALLDIR=[INSTALLDIR];UILevel=[UILevel];ProductCode=[ProductCode];ADDLOCAL=[ADDLOCAL];ADDFEATURES=[ADDFEATURES]" />
    <CustomAction Id="CancelRequestHandler" BinaryKey="WixSharp_InitRuntime_Action_File" DllEntry="CancelRequestHandler" Return="check" Impersonate="no" Execute="deferred" />

    <Binary Id="OpenFolder_File" SourceFile="%this%.CA.dll" />
    <Binary Id="WixSharp_InitRuntime_Action_File" SourceFile="WixSharp.CA.dll" />
    <Binary Id="WixSharp_UIText" SourceFile="Remembrance.wxl" />
    <Binary Id="WixSharp_LicenceFile" SourceFile="Remembrance.licence.rtf" />
    <Binary Id="WixUI_Bmp_Dialog" SourceFile="Remembrance.dialog_bmp.png" />
    <Binary Id="WixUI_Bmp_Banner" SourceFile="Remembrance.dialog_banner.png" />

    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ALLUSERS" Value="1" />
    <Property Id="FileName" Value="Remembrance.exe" />
    <Property Id="WixSharp_UI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="UAC_REVEALER_ENABLED" Value="true" />
    <Property Id="UAC_WARNING" Value="Please wait for UAC prompt to appear.&#xD;&#xA;&#xD;&#xA;If it appears minimized then activate it from the taskbar." />
    <Property Id="WixSharp_InstallDialogs" Value="WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.WelcomeDialog&#xA;WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.InstallDirDialog&#xA;WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ProgressDialog&#xA;WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ExitDialog" />
    <Property Id="WixSharp_ModifyDialogs" Value="WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.MaintenanceTypeDialog&#xA;WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ProgressDialog&#xA;WixSharp.UI, Version=1.14.2.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2|WixSharp.UI.Forms.ExitDialog" />
    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
    <Property Id="REINSTALLMODE" Value="omus" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.NLog.config_2185781715" />
      <ComponentRef Id="Component.Remembrance.exe_1553468483" />
      <ComponentRef Id="Component.Remembrance.exe.config_3431285376" />
      <ComponentRef Id="Component.Remembrance.pdb_1149921833" />
      <ComponentRef Id="Component.Remembrance.Resources.dll_2399423351" />
      <ComponentRef Id="Component.Remembrance.Resources.pdb_3908134801" />
      <ComponentRef Id="Component.Uninstall_Remembrance" />
      <ComponentRef Id="Component.Remembrance.Resources.resources.dll_434619980" />
      <ComponentRef Id="Component.Uninstall_Remembrance.1" />
      <ComponentRef Id="Component.Remembrance__" />
      <ComponentRef Id="Component.Remembrance.1" />
      <ComponentRef Id="Registry.1" />
      <ComponentRef Id="ProgramFilesFolder.Scar" />
      <ComponentRef Id="TARGETDIR" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="OpenFolder" After="InstallFinalize"> (NOT Installed) </Custom>
      <Custom Action="LaunchProcess" After="InstallFinalize"> (NOT Installed) </Custom>
      <Custom Action="Set_TerminateProcess_Props" Before="InstallFiles" />
      <Custom Action="TerminateProcess" After="Set_TerminateProcess_Props"> (NOT Installed) </Custom>
      <Custom Action="Set_TerminateProcess.1_Props" Before="RemoveFiles" />
      <Custom Action="TerminateProcess.1" After="Set_TerminateProcess.1_Props"> (REMOVE="ALL") </Custom>
      <Custom Action="WixSharp_InitRuntime_Action" Before="AppSearch"> (1) </Custom>
      <Custom Action="Set_CancelRequestHandler_Props" Before="InstallFinalize" />
      <Custom Action="CancelRequestHandler" After="Set_CancelRequestHandler_Props"> (NOT (REMOVE="ALL")) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

